<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %} | Unicompras</title>
    </head>

    <body>
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                
                <a href="/" class="flex gap-5 items-center text-2xl font-semibold ">
                    <img class="w-10 h-auto" src="/media/item_images/frente-da-loja.png" alt="a">
                    Unicompras</a>
            </div>

            <div class="space-x-6">
                <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-gray-500">Novo item</a>
                <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-gray-500">Procurar</a>

                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard:index' %}" class="px-6 py-3 text-lg font-semibold bg-rose-500 text-white rounded-md hover:bg-rose-700">Meus itens</a>
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-rose-500 text-white rounded-md hover:bg-rose-700">Cadastrar</a>
                    <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-md hover:bg-gray-700">Entrar</a>
                {% endif %}
            </div>
        </nav>

        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="py-6 px-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-400">Sobre</h3>

                <p class="text-lg text-gray-500">Lorem ipsum bla bla bla. Lorem ipsum bla bla bla. Lorem ipsum bla bla bla.</p>
            </div>

            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

                <ul class="space-y-2">
                    <li><a href="#" class="text-lg text-rose-500 hover:text-rose-700">Sobre</a></li>
                    <li><a href="{% url 'core:contact' %}" class="text-lg text-rose-500 hover:text-rose-700">Contato</a></li>
                    <li><a href="#" class="text-lg text-rose-500 hover:text-rose-700">Política de privacidade</a></li>
                    <li><a href="#" class="text-lg text-rose-500 hover:text-rose-700">Termos de uso</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>